html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map-title{
    font-size: 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000000;
    font-family: 'Montserrat';
    text-align: center;
}

*:focus {
  outline: 3px solid #FFBF47;
}

/* .page-title {
  margin-top: 56px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
} */

.page-title {
  margin-top: 56px;
  text-align: left;
  font-size: 32px;
  font-weight: 600; 
  font-family: 'Montserrat';

}

@media (min-width: 768px) {
  .page-title {
    font-size: 48px;
    margin-top: 80px;
  }
}

.lead-paragraph {
    font-size: 19px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000000;
    font-family: 'Montserrat';
}

@media (min-width: 768px) {
    .lead-paragraph {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #000000;
    }
}

.container {
    padding: 0 18px;
    position: relative;
}

.container-mask {
    pointer-events: none;
    width: 100%;
}

@media (min-width: 768px) {
    .container-mask {
        height: 600px;
        overflow: hidden;
    }
}

@media (min-width: 980px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }
}

.link-before-footer {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: normal;
    margin-bottom: 40px;
}

.link-before-footer a{
    color: #0072ce;
}

.link-before-footer a:visited {
    color: #8031A7;
}

.link-before-footer a:hover,
.link-before-footer a:focus {
    color: #0085CA;
}

.map-personas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .map-personas {
        margin: 24px 0;
    }
}
/* #persona-button-0{
    background-image: url("https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/09/06/10/Autumn-Constitution-Hill.jpg");
    background-size: contain;
    border-radius: 50%;
}

#persona-button-1{
    background-image: url("https://c8.alamy.com/comp/J27X5W/children-helping-parents-to-collect-autumn-leaves-in-garden-J27X5W.jpg");   
    background-size: contain;
    border-radius: 50%;
}

#persona-button-2{
    background-image: url("https://i.pinimg.com/originals/ba/dc/50/badc50792d39c77b97a40a536dfa2f18.jpg");  
    background-size: contain; 
    border-radius: 50%;
}

#persona-button-3{
    background-image: url("https://media.timeout.com/images/101717539/630/472/image.jpg");   
    background-size: contain;
    border-radius: 50%;
}


 */

.persona-button {
    appearance: none;
    -webkit-appearance: none;
    /* background:#daa520; */
    background: #cc9d3a;
    border: 0.5px solid #DEE0E2;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: 300;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: calc(50% - 6px);
}

@media (min-width: 768px) {
    .persona-button {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 20px;
        width: calc(25% - 9px);
    }
}

@media (min-width: 980px) {
    .persona-button {
        width: 231px;
    }
}

.persona-button:hover {
    background: #00513F;
    color: #ffffff;
}

.persona-icon {
    display: block;
    margin: 0 auto;
}

.persona-icon-active {
    display: none;
    margin: 0 auto;
}

.persona-button:active .persona-icon-active,
.persona-button--active .persona-icon-active {
    display: block;
}

.persona-button:active,
.persona-button--active,
.persona-button--active:hover {
    background: #FFFFFF;
    color: #000;
    cursor: default;
}

.persona-button:active .persona-icon,
.persona-button--active .persona-icon {
    display: none;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    font-size: 14px;
}

.map-container {
    position: relative;
    margin-bottom: 48px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    height: auto !important;
}

.map-wrapper {
    height: 450px;
    position: relative;
    z-index: 0;
}

@media (min-width: 768px) {
    .map-wrapper {
        height: 600px;
    }
}

.map-controls {
    display: block;
    margin: 0 -18px;
    padding: 0;
    position: relative;
    z-index: 1;
    height: 48px;
}

@media (min-width: 768px) {
    .map-controls {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-between;
    }
}

.map-sidebar {
    background: #fff;
    border-right: 1px solid #00664F;
    bottom: 0;
    box-sizing: border-box;
    height: 450px;
    overflow-y: scroll;
    padding-top: 0;
    pointer-events: all;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    width: 270px;
    z-index: 1;
}

@media (min-width: 768px) {
    .map-sidebar {
        background: transparent;
        border: none;
        height: 600px;
    }
}

.map-controls--open .map-sidebar {
    transform: none;
}

.map-sidebar-toggle {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    margin: 12px 18px;
    padding: 0;
}

.map-sidebar-toggle-text {
    display: inline-block;
    font-size: 14px;
    font-family: Montserrat;
    vertical-align: middle;
}

.map-sidebar-toggle:hover .map-sidebar-toggle-text {
    border-bottom: 1px solid #000;
}

.map-sidebar-toggle-icon {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: -3px;
    margin-right: 8px;
    margin-top: 3px;
    vertical-align: middle;
}

.map-sidebar-toggle-text--hide,
.map-controls--open .map-sidebar-toggle-text--show {
    display: none;
}

.map-controls--open .map-sidebar-toggle-text--hide {
    display: inline-block;
}

@media (min-width: 768px) {
    .map-sidebar-toggle {
        margin-left: 0;
    }
}

.map-clear {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: Montserrat;
    height: 24px;
    line-height: 24px;
    margin: 12px 18px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}



.map-clear:hover .map-clear-text {
    border-bottom: 1px solid #000;
}

.map-clear-icon {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .map-clear {
        margin-right: 0;
        position: static; 
    }
}

  
.leaflet-control-layers {
    box-shadow: none;
    height: auto;
    padding: 0;
    width: 100%;
}

.leaflet-control-layers-selector {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.leaflet-control-layers-selector + span {
    border-bottom: 1px solid #DEE0E2;
    display: block;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.leaflet-control-layers-selector + span {
    border: 3px solid transparent;
    border-bottom: 1px solid #DEE0E2;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 17px 11px 9px;
    background: #ECEBEB;
}

.leaflet-control-layers-selector:focus + span {
    border: 3px solid #FFBF47;
    padding-bottom: 7px;
}

.leaflet-control-layers-selector:checked:focus + span {
    border-bottom-color: #FFBF47;
}

@media (min-width: 768px) {
    .leaflet-control-layers-overlays label:hover .leaflet-control-layers-selector + span {
        background: #00513F;
        border-bottom-color: #00513F;
        color: #ffffff;
    }

    .leaflet-control-layers-overlays label:hover .leaflet-control-layers-selector:focus + span {
        border-bottom-color: #FFBF47;
    }

    label:hover .leaflet-control-layers-selector:focus + span span.control-active-border {
        background: #FFBF47 !important;
    }
}

.leaflet-control-layers-selector:checked + span {
    background: #FFFFFF;
    border-bottom-color: #DEE0E2;
}

.control-text {
    box-sizing: border-box;
    max-width: calc(100% - 32px);
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.control-count {
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    padding-left: 46px;
    width: 100%;
}

.control-active-border {
    bottom: -3px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 8px;
}

input:not(:checked) + span span.control-active-border {
    background: #bfc1c3 !important;
}

@media (min-width: 768px) {
    label:hover .leaflet-control-layers-selector + span span.control-active-border {
        background: #003D2F !important;
    }


    label:hover .leaflet-control-layers-selector + span .fas {
        color: #FFF !important;
    }


    .leaflet-control-layers-overlay label:hover > div > span {
        background: #00513F;
        color: #ffffff;
    }
}

.leaflet-control-layers-selector:checked + span .control-count {
    opacity: 1;
}

.leaflet-control-layers-selector + span .fas {
    font-size: 20px;
    margin-top: 1px;
    padding: 0 6px;
    text-align: center;
    width: 24px;
}

.leaflet-control-layers-selector:not(:checked) + span .fas {
    color: #000 !important;
}

.leaflet-control {
    background: none;
    float: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    overflow: hidden;
    padding-right: 0;
}

.leaflet-control-layers-overlays label {
    overflow: hidden;
    position: relative;
}

.leaflet-popup-content {
    font-family: Montserrat;
}

.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 45px;
}

.leaflet-touch .leaflet-bar button {
    width: 40px;
    height: 40px;
    line-height: 43px;
}

.fa-location:before {
    content: "\f601";
    font-size: 18px;
}

.fa-globe:before {
    content: "\f0ac";
    font-size: 18px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  } 
  
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 200%;
    /* right: 80%; */
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext a {
    color: #fff;
    text-decoration: underline;   
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .datatooltip {
    border-bottom: 1px dotted;
    font-size: 14px;
  }

  .datatooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: left;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    /* right: 80%; */
    margin-left: 40px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .datatooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .info {
    height: 100px;
    width: 100px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}