.lbh-button {
		font-family: Montserrat;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-top: 0em;
		margin-bottom: 0;
	    padding: 0.33em;
		border-radius: 4px;
		background: #00664f;
		font-size: 19px;
		font-size: 1.1875rem;
		font-weight: 400;
		line-height: 23px;
		line-height: 1.4375rem;
 }