/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
    background: url('../images/markers-soft.png') no-repeat 0 0;
    width: 36px;
    height: 46px;
    position:absolute;
    left:0;
    top:0;
    display: block;
    text-align: center;
}
  
.awesome-marker-shadow {
    background: url('../images/markers-shadow.png') no-repeat 0 0;
    width: 36px;
    height: 16px;
}
  
/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
   .awesome-marker {
    background-image: url('../images/markers-soft@2x.png');
    background-size: 1692px 46px;
   }
   .awesome-marker-shadow {
    background-image: url('../images/markers-shadow@2x.png');
    background-size: 35px 16px;
   }
}
  
.awesome-marker i {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}
  
  // This is required at the moment as awesome markers are targeting i elements, rather than the newer svg
.awesome-marker svg {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.awesome-marker .icon-white {
    color: #fff;
}
  
  /* Colors */
  .awesome-marker-icon-red {
    background-position: 0 0;
  }

  .awesome-marker-icon-orange {
    background-position: -36px 0;
  }
    
  .awesome-marker-icon-green {
    background-position: -72px 0;
  }

  .awesome-marker-icon-blue {
    background-position: -108px 0;
  }

  .awesome-marker-icon-purple {
    background-position: -144px 0;
  }

  .awesome-marker-icon-darkred {
    background-position: -180px 0;
  }
    
  .awesome-marker-icon-darkblue {
    background-position: -216px 0;
  }
  
  .awesome-marker-icon-darkgreen {
    background-position: -252px 0;
  }
  
  .awesome-marker-icon-darkpurple {
    background-position: -288px 0;
  }
  
  .awesome-marker-icon-cadetblue {
    background-position: -324px 0;
  }

  .awesome-marker-icon-congopink {
    background-position: -360px 0;
  }
  
  .awesome-marker-icon-beige {
    background-position: -396px 0;
  }
  
  .awesome-marker-icon-lightgreen {
    background-position: -432px 0;
  }

  .awesome-marker-icon-lightblue {
    background-position: -468px 0;
  }
  
  .awesome-marker-icon-pink {
    background-position: -504px 0;
  }

  .awesome-marker-icon-lightred {
    background-position: -540px 0;
  }

  .awesome-marker-icon-white {
    background-position: -576px 0;
  }
    
  .awesome-marker-icon-lightgray {
    background-position: -612px 0;
  }

  .awesome-marker-icon-gray {
    background-position: -648px 0;
  }

  .awesome-marker-icon-black {
    background-position: -682px 0;
  }
    
  .awesome-marker-icon-lightcobaltblue {
    background-position: -718px 0;
  }

  .awesome-marker-icon-lemonyellow {
    background-position: -754px 0;
  }

  .awesome-marker-icon-tangerine {
    background-position: -790px 0;
  }

  .awesome-marker-icon-middlegreen {
    background-position: -826px 0;
  }

  .awesome-marker-icon-crayola {
    background-position: -862px 0;
  }

  .awesome-marker-icon-operamauve {
    background-position: -898px 0;
  }

  .awesome-marker-icon-electricviolet {
    background-position: -934px 0;
  }

  .awesome-marker-icon-bronzeyellow {
    background-position: -970px 0;
  } 

  .awesome-marker-icon-darkfern {
    background-position: -1006px 0;
  } 

  .awesome-marker-icon-frenchlime {
    background-position: -1042px 0;
  } 

  .awesome-marker-icon-maximumbluegreen {
    background-position: -1078px 0;
  } 

  .awesome-marker-icon-purplepizzazz {
    background-position: -1114px 0;
  } 

  .awesome-marker-icon-apple {
    background-position: -1150px 0;
  } 

  .awesome-marker-icon-mellowapricot {
    background-position: -1186px 0;
  }

  .awesome-marker-icon-firebrick {
    background-position: -1222px 0;
  }

  .awesome-marker-icon-philippinegray {
    background-position: -1258px 0;
  }

  .awesome-marker-icon-mediumchampagne {
    background-position: -1294px 0;
  }

  .awesome-marker-icon-royalblue {
    background-position: -1330px 0;
  }

  .awesome-marker-icon-colorblind1_red {
    background-position: -1366px 0;
  }
  
  .awesome-marker-icon-colorblind1_lightorange {
    background-position: -1402px 0;
  }
  
  .awesome-marker-icon-colorblind1_darkblue {
    background-position: -1438px 0;
  }
  
  .awesome-marker-icon-colorblind1_orange {
    background-position: -1474px 0;
  }
  
  .awesome-marker-icon-colorblind1_darkgrey {
    background-position: -1510px 0;
  }
  
  .awesome-marker-icon-colorblind1_mediumgrey {
    background-position: -1546px 0;
  }
  
  .awesome-marker-icon-colorblind1_lightgrey {
    background-position: -1582px 0;
  }

  .awesome-marker-icon-colorblind1_mediumblue {
    background-position: -1618px 0;
  }
  
  .awesome-marker-icon-colorblind1_lightblue {
    background-position: -1654px 0;
  }
  .awesome-marker-square {
    background-position-y: -46px;
  }
