.controls {
  @include lbh-rem(height, 48);
  @include lbh-rem(margin-left, -18);
  @include lbh-rem(margin-right, -18);
  display: block;
  padding: 0;
  position: relative;
  z-index: 1;

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
  }
}

.controls__sidebar {
  @include lbh-rem(height, 450);
  @include lbh-rem(width, 270);
  @include lbh-rem(margin-left, 18); 
  background: lbh-colour("lbh-white");
  border-right: 1px solid lbh-colour("lbh-a01");
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
  padding-top: 0;
  pointer-events: all;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  z-index: 1;

  @include govuk-media-query($from: desktop) {
    @include lbh-rem(height, 600);
    @include lbh-rem(margin-left, 0); 
    background: transparent;
    border: none;
  }
}

.controls--open .controls__sidebar {
  transform: none;
}

.legend {
  background: #ecebeb;
  min-height: 100%;
}

.controls__sidebar-toggle {
  @include lbh-rem(margin, 12, 18, 9, 18);
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: lbh-colour("lbh-black");
  cursor: pointer;
  padding: 0;

  &:focus {
    @include govuk-focused-text;
  }

  @include govuk-media-query($from: desktop) {
    margin-left: 0;
  }
}

.controls__sidebar-toggle-text {
  @include lbh-rem(font-size, 14);
  @include lbh-rem(margin-bottom, 3);
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-family: "Montserrat";
  vertical-align: middle;
  margin-top: 0;
}

.controls__sidebar-toggle:hover .controls__sidebar-toggle-text {
  border-bottom: 1px solid lbh-colour("lbh-black");
}

.controls__sidebar-toggle-icon {
  @include lbh-rem(font-size, 24);
  @include lbh-rem(margin-right, 8);
  @include lbh-rem(margin-top, 3);
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.controls__sidebar-toggle-text--hide,
.controls--open .controls__sidebar-toggle-text--show {
  display: none;
}

.controls--open .controls__sidebar-toggle-text--hide {
  display: inline-block;
}

.controls__clear {
  @include lbh-rem(font-size, 14);
  @include lbh-rem(height, 24);
  @include lbh-rem(margin, 12, 18, 12, 18);
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: lbh-colour("lbh-black");
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:hover .controls__clear-text {
    border-bottom: 1px solid lbh-colour("lbh-black");
  }

  &:focus {
    @include govuk-focused-text;
  }

  @include govuk-media-query($from: desktop) {
    position: static;
    margin-right: 0;
  }
}

.controls__clear-icon {
  @include lbh-rem(font-size, 24);
  @include lbh-rem(margin-right, 8);
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.leaflet-control-layers {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 0;
}

.leaflet-control-layers * + * {
  margin-top: 0;
}

.leaflet-control-layers-selector {
  @include govuk-visually-hidden;

  & + span {
    @include lbh-rem(padding, 17, 11, 9);
    border: 3px solid transparent;
    border-bottom: 1px solid lbh-colour("lbh-grey-3");
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #ecebeb;
    position: relative;
  }

  &:checked + span {
    background: lbh-colour("lbh-white");
    border-bottom-color: lbh-colour("lbh-grey-3");
  }

  &:focus + span {
    @include lbh-rem(padding-bottom, 7);
    border: 3px solid lbh-colour("lbh-primary-focus");
  }

  @include govuk-media-query($from: desktop) {
    .leaflet-control-layers-overlays label:hover & + span {
      background: lbh-colour("lbh-primary-hover");
      border-bottom-color: lbh-colour("lbh-primary-hover");
      color: lbh-colour("lbh-white");
    }

    .leaflet-control-layers-overlays label:hover &:focus + span {
      border-bottom-color: lbh-colour("lbh-primary-focus");
    }

    label:hover &:focus + span span.control__active-border {
      background: lbh-colour("lbh-primary-focus") !important;
    }
  }
}

.control__text {
  @include lbh-rem(font-size, 14);
  @include lbh-rem(padding-left, 10);
  box-sizing: border-box;
  max-width: calc(100% - 32px);
  max-width: calc(100% - 2rem);
  font-weight: 500;
}

.control__count {
  @include lbh-rem(font-size, 14);
  @include lbh-rem(padding-left, 46);
  font-weight: 300;
  opacity: 0;
  width: 100%;
}

.control__active-border {
  @include lbh-rem(width, 8);
  bottom: -3px;
  left: -3px;
  position: absolute;
  top: -3px;
}

input:not(:checked) + span span.control__active-border {
  background: lbh-colour("lbh-grey-2") !important;
}

@include govuk-media-query($from: desktop) {
  label:hover .leaflet-control-layers-selector + span span.control__active-border {
    background: lbh-colour("lbh-primary-inner-shadow") !important;
  }

  label:hover .leaflet-control-layers-selector + span .fas,
  label:hover .leaflet-control-layers-selector + span .svg-inline--fa {
    color: lbh-colour("lbh-white") !important;
  }

  .leaflet-control-layers-overlay label:hover > div > span {
    background: lbh-colour("lbh-primary-hover");
    color: lbh-colour("lbh-white");
  }
}

.leaflet-control-layers-selector:checked + span .control__count {
  opacity: 1;
}

.leaflet-control-layers-selector + span .fas,
.leaflet-control-layers-selector + span .svg-inline--fa {
  @include lbh-rem(font-size, 20);
  @include lbh-rem(margin-top, 1);
  @include lbh-rem(padding, 0, 6);
  @include lbh-rem(width, 24);
  text-align: center;
}

.leaflet-control-layers-selector:not(:checked) + span .fas,
.leaflet-control-layers-selector:not(:checked) + span .svg-inline--fa {
  color: lbh-colour("lbh-black") !important;
}

.leaflet-control {
  background: none;
  float: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  overflow: hidden;
  padding-right: 0;
}

.leaflet-control-layers-overlays label {
  overflow: hidden;
  position: relative;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar,
.leaflet-bar {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(lbh-colour("lbh-black"), 0.3);
}

.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-touch .leaflet-bar a,
.leaflet-bar button,
.leaflet-bar button:hover,
.leaflet-touch .leaflet-bar button {
  @include lbh-rem(font-size, 22);
  @include lbh-rem(width, 40);
  @include lbh-rem(height, 40);
  @include lbh-rem(line-height, 40);
}

.map .leaflet-bar a,
.map .leaflet-bar button {
  border-radius: 0;
}
