.custom-div-icon {
    display:inline-block;
    font-weight: bolder;
    padding: 3px;
    border: 1px solid #666;
    border-radius: 3px;
    // background: var(--divicon-color);
    // color: var(--divicon-label-color);
    transform:translate(-50%, -50%);
}

.custom-div-icon.red {
    background: #d43e2a;
    color: white;
}

.custom-div-icon.cadetblue {
    background: #436978;
    color: white;
}

.custom-div-icon.middlegreen {
    background: #5C8C57;
    color: white;
}

.custom-div-icon.darkpurple {
    background: #5b396b;
    color: white;
}

.custom-div-icon.operamauve {
    background: #C27B9F;
    color: white;
}

.custom-div-icon.purple {
    background: #D252BA;
    color: white;
}