.listview-container{
	margin-top: 70px;
}

.listview-container a {
	@include lbh-link;
}

//from gov front end

.govuk-accordion__section {
	background-color:#ecebeb; /*same grey as the map legend*/
}

.govuk-accordion__section-header {
	border-left: solid 8px #bfc1c3;
	padding-left: 10px;
}

.govuk-accordion__section-content {
	padding-left: 10px;
}

// JavaScript enabled
.js-enabled {
	
	// This fix prevents a horizontal scrollbar if the accordion is in an iframe
    .govuk-accordion__open-all {
		padding-right: 1px;
	  }
}