@import "node_modules/lbh-frontend/lbh/helpers/colour";

html,
body,
#map {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

#map {
  height: 100%;
}

.map * + * {
  margin-top: unset;
}

.container__mask {
  margin-top: 0;
  pointer-events: none;
  position: relative;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    height: 600px;
    overflow: hidden;
  }
}

.link-before-footer {
  @include lbh-body-m;
  margin-bottom: 40px;
}

.link-before-footer a {
  @include lbh-link;
}

.button-text {
  @include lbh-rem(font-size, 14);
  @include lbh-rem(padding-top, 12);
  font-family: "Montserrat", sans-serif;
}

.map__container {
  @include lbh-rem(margin-bottom, 48);
  font-family: "Montserrat";
  position: relative;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  height: auto !important;
}

.map__wrapper {
  @include lbh-rem(height, 450);
  margin-top: 0;
  position: relative;
  z-index: 0;

  @include govuk-media-query($from: desktop) {
    @include lbh-rem(height, 600);
  }
}

.fa-location:before {
  content: "\f601";
  font-size: 18px;
}

.fa-globe:before {
  content: "\f0ac";
  font-size: 18px;
}

.info {
  height: 100px;
  width: 100px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px rgba(lbh-colour("lbh-black"), 0.3);
  border-radius: 5px;
}
