@import "node_modules/lbh-frontend/lbh/helpers/colour";

html,
body,
#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map * + * {
  margin-top: unset;
}

.container-mask {
  pointer-events: none;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    height: 600px;
    overflow: hidden;
  }
}

.link-before-footer {
  @include lbh-body-m;
  margin-bottom: 40px;
}

.link-before-footer a {
  @include lbh-link;
}

.map-personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;

  @include govuk-media-query($from: desktop) {
    margin: 24px 0;
  }
}

.persona-button {
  appearance: none;
  -webkit-appearance: none;
  background: #cc9d3a;
  border: 0.5px solid lbh-colour("lbh-panel");
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: calc(50% - 6px);

  @include govuk-media-query($from: desktop) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 20px;
    width: calc(25% - 9px);
  }

  // 980px
  @include govuk-media-query($from: 61.25em) {
    width: 231px;
  }

  &:hover {
    background: #00513f;
    color: #ffffff;
  }
}

.persona-icon {
  display: block;
  margin: 0 auto;
}

.persona-icon-active {
  display: none;
  margin: 0 auto;
}

.persona-button:active .persona-icon-active,
.persona-button--active .persona-icon-active {
  display: block;
}

.persona-button:active,
.persona-button--active,
.persona-button--active:hover {
  background: #ffffff;
  color: #000;
  cursor: default;
}

.persona-button:active .persona-icon,
.persona-button--active .persona-icon {
  display: none;
}

.button-text {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  font-size: 14px;
}

.map-container {
  position: relative;
  margin-bottom: 48px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  height: auto !important;
}

.map__wrapper {
  height: 450px;
  position: relative;
  z-index: 0;

  @include govuk-media-query($from: desktop) {
    height: 600px;
  }
}

.map-controls {
  display: block;
  margin: 0 -18px;
  padding: 0;
  position: relative;
  z-index: 1;
  height: 48px;

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
  }
}

.map-sidebar {
  background: #fff;
  border-right: 1px solid #00664f;
  bottom: 0;
  box-sizing: border-box;
  height: 450px;
  overflow-y: scroll;
  padding-top: 0;
  pointer-events: all;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  width: 270px;
  z-index: 1;

  @include govuk-media-query($from: desktop) {
    background: transparent;
    border: none;
    height: 600px;
  }
}

.map-controls--open .map-sidebar {
  transform: none;
}

.map-sidebar-toggle {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  margin: 12px 18px;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    margin-left: 0;
  }
}

.map-sidebar-toggle-text {
  display: inline-block;
  font-size: 14px;
  font-family: Montserrat;
  vertical-align: middle;
}

.map-sidebar-toggle:hover .map-sidebar-toggle-text {
  border-bottom: 1px solid #000;
}

.map-sidebar-toggle-icon {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: -3px;
  margin-right: 8px;
  margin-top: 3px;
  vertical-align: middle;
}

.map-sidebar-toggle-text--hide,
.map-controls--open .map-sidebar-toggle-text--show {
  display: none;
}

.map-controls--open .map-sidebar-toggle-text--hide {
  display: inline-block;
}

.map-clear {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: Montserrat;
  height: 24px;
  line-height: 24px;
  margin: 12px 18px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:hover .map-clear-text {
    border-bottom: 1px solid #000;
  }

  @include govuk-media-query($from: desktop) {
    margin-right: 0;
    position: static;
  }
}

.map-clear-icon {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.leaflet-control-layers {
  border-radius: 0;
  box-shadow: 0 0 3px rgba(lbh-colour("lbh-black"), 0.3);
  height: auto;
  padding: 0;
}

.leaflet-control-layers-selector {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  & + span {
    border: 3px solid transparent;
    border-bottom: 1px solid #dee0e2;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 17px 11px 9px;
    background: #ecebeb;
    position: relative;
  }

  &:focus + span {
    border: 3px solid lbh-colour("lbh-primary-focus");
    padding-bottom: 7px;
  }

  &:checked:focus + span {
    border-bottom-color: lbh-colour("lbh-primary-focus");
  }

  @include govuk-media-query($from: desktop) {
    .leaflet-control-layers-overlays label:hover & + span {
      background: #00513f;
      border-bottom-color: #00513f;
      color: #ffffff;
    }

    .leaflet-control-layers-overlays label:hover &:focus + span {
      border-bottom-color: lbh-colour("lbh-primary-focus");
    }

    label:hover &:focus + span span.control-active-border {
      background: lbh-colour("lbh-primary-focus") !important;
    }
  }

  &:checked + span {
    background: #ffffff;
    border-bottom-color: #dee0e2;
  }
}

.control-text {
  box-sizing: border-box;
  max-width: calc(100% - 32px);
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.control-count {
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  padding-left: 46px;
  width: 100%;
}

.control-active-border {
  bottom: -3px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 8px;
}

input:not(:checked) + span span.control-active-border {
  background: #bfc1c3 !important;
}

@include govuk-media-query($from: desktop) {
  label:hover .leaflet-control-layers-selector + span span.control-active-border {
    background: #003d2f !important;
  }

  label:hover .leaflet-control-layers-selector + span .fas {
    color: #fff !important;
  }

  .leaflet-control-layers-overlay label:hover > div > span {
    background: #00513f;
    color: #ffffff;
  }
}

.leaflet-control-layers-selector:checked + span .control-count {
  opacity: 1;
}

.leaflet-control-layers-selector + span .fas {
  font-size: 20px;
  margin-top: 1px;
  padding: 0 6px;
  text-align: center;
  width: 24px;
}

.leaflet-control-layers-selector:not(:checked) + span .fas {
  color: #000 !important;
}

.leaflet-control {
  background: none;
  float: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  overflow: hidden;
  padding-right: 0;
}

.leaflet-control-layers-overlays label {
  overflow: hidden;
  position: relative;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar,
.leaflet-bar {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(lbh-colour("lbh-black"), 0.3);
}

.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-touch .leaflet-bar a {
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.leaflet-bar button,
.leaflet-bar button:hover,
.leaflet-touch .leaflet-bar button {
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.map .leaflet-bar a,
.map .leaflet-bar button {
  border-radius: 0;
}

.fa-location:before {
  content: "\f601";
  font-size: 18px;
}

.fa-globe:before {
  content: "\f0ac";
  font-size: 18px;
}

.info {
  height: 100px;
  width: 100px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px rgba(lbh-colour("lbh-black"), 0.3);
  border-radius: 5px;
}
