.personas {
  @include lbh-rem(padding, 10, 0);
  @include lbh-rem(margin-left, -10);
  @include lbh-rem(margin-right, -10);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
  
.personas.embed {
  @include lbh-rem(margin-left, 0);
  @include lbh-rem(margin-right, 0);
}

.personas__button-wrapper {
  @include lbh-rem(padding, 10);
  box-sizing: border-box;
  margin-top: 0;
  width: 50%;
  display: flex;

  @include govuk-media-query($from: desktop) {
    width: 25%;
  }
}

.personas__button {
  // @include lbh-rem(margin-bottom, 12);
  @include lbh-rem(padding, 12);
  appearance: none;
  -webkit-appearance: none;
  background: #ecebeb;
  border: 0.5px solid lbh-colour("lbh-panel");
  border-radius: 3px;
  // box-sizing: border-box;
  color: lbh-colour("lbh-black");
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    @include lbh-rem(padding, 20);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &:hover {
    background: #00513f;
    color: #ffffff;
  }
}

.personas__icon-wrapper {
  display: block;
  margin: 0 auto;
}

.personas__icon--active {
  display: none;
  margin: 0 auto;

  .personas__button:active &,
  .personas__button--active & {
    display: block;
  }
}

.personas__button:active,
.personas__button--active,
.personas__button--active:hover {
  background: #ffffff;
  color: #000;
  cursor: default;
}

.personas__button:active .personas__icon--base,
.personas__button--active .personas__icon--base {
  display: none;
}
