.map-personas {
  @include lbh-rem(padding, 10, 0);
  @include lbh-rem(margin-left, -10);
  @include lbh-rem(margin-right, -10);
  display: flex;
  flex-wrap: wrap;

  .map__container:first-child & {
    padding-top: 0;
  }

  @include govuk-media-query($from: desktop) {
    @include lbh-rem(margin, 24, -10);

    .map__container:first-child & {
      margin-top: 0;
    }
  }
}

.map-persona__button-wrapper {
  @include lbh-rem(padding, 10);
  box-sizing: border-box;
  margin-top: 0;
  width: 50%;

  @include govuk-media-query($from: desktop) {
    width: 25%;
  }
}

.map-persona__button {
  @include lbh-rem(margin-bottom, 12);
  @include lbh-rem(padding, 12);
  appearance: none;
  -webkit-appearance: none;
  background: #ecebeb;
  border: 0.5px solid lbh-colour("lbh-panel");
  border-radius: 3px;
  box-sizing: border-box;
  color: lbh-colour("lbh-black");
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    @include lbh-rem(padding, 20);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &:hover {
    background: #00513f;
    color: #ffffff;
  }
}

.map-persona__icon-wrapper {
  display: block;
  margin: 0 auto;
}

.map-persona__icon--active {
  display: none;
  margin: 0 auto;

  .map-persona__button:active &,
  .map-persona__button--active & {
    display: block;
  }
}

.map-persona__button:active,
.map-persona__button--active,
.map-persona__button--active:hover {
  background: #ffffff;
  color: #000;
  cursor: default;
}

.map-persona__button:active .map-persona__icon--base,
.map-persona__button--active .map-persona__icon--base {
  display: none;
}
