 
// .leaflet-container .leaflet-control-search {
// 	position:relative;
// 	float:left;
// 	background:#fff;
// 	color:#1978cf;
// 	//border: 2px solid rgba(0,0,0,0.2);
// 	background-clip: padding-box;
// 	-moz-border-radius: 4px;
// 	-webkit-border-radius: 4px;
// 	//border-radius: 4px;
// 	background-color: rgba(255, 255, 255, 0.8);
// 	z-index:1000;	
// 	margin-left: 10px;
// 	margin-top: 10px;
// 	font-family: 'Montserrat';
// }
.leaflet-control-search.search-exp {/*expanded*/
	background-clip: padding-box;	
	display: inherit;
	max-width: 500px;
	height: 115px;
	@include govuk-media-query($from: desktop) {
		height: 145px;
	}
}

.leaflet-control-search .search-input {
  font-family: 'Montserrat';
  border: 2px solid #0b0c0c;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.42;
  padding: 7px 25px 7px 7px;
  width: 230px;
//   margin-top: 20px;
//   margin-bottom: 20px;
margin-top: 0px;
margin-bottom: 7px;
  box-sizing: border-box;
  border-radius: 0px;
  @include govuk-media-query($from: desktop) {
	width: 500px;
	font-size: 19px;
	padding: 10px 35px 10px 10px;
	}
}

.leaflet-control-search .search-input:focus{
	outline: $govuk-focus-width solid $govuk-focus-colour;
    // Ensure outline appears outside of the element
    outline-offset: 0;
    // Double the border by adding its width again. Use `box-shadow` to do
    // this instead of changing `border-width` (which changes element size) and
    // since `outline` is already used for the yellow focus state.
    box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}


.leaflet-control-search .search-cancel {
	width:20px;
	height:20px;
	position:absolute;
	left: 205px;
	top: 10px;
	color: black;
	margin: 0px;
	padding: 0px;
	background: url('../images/close-black.svg') no-repeat;
	background-size: 20px 20px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.3;
	@include govuk-media-query($from: desktop) {
		width:25px;
		height:25px;
		background-size: 25px 25px;
		left: 467px;
		top: 12px;
	}		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.leaflet-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}

.leaflet-control-search .search-button {

	position:absolute;
	top: 0px;
	left: 230px;
	background-color: lbh-colour("lbh-primary-button");
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0 2px 0 lbh-colour("lbh-primary-inner-shadow");
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	-webkit-appearance: none;
	border: 2px solid transparent;
	box-sizing: border-box;
	width: auto;
	line-height: 1.3rem;
	font-size: 16px;
	font-weight: 400;
	padding: 7px 12px 7px 12px;
	border-radius: 0px 4px 4px 0px;
	margin: 0px;
	@include govuk-media-query($from: desktop) {
		left: 500px;
		font-size: 19px;
		line-height: 1.5rem;
		padding: 10px 20px 10px 20px;
	}
	&:hover{
		background-color: lbh-colour("lbh-primary-hover");
	} 
	&:after {
		content: 'Go';
	}
}


.leaflet-control-search .search-tooltip {
	//margin-top: 10px;
	margin-top: 5px;
	list-style: none;
	padding-left: 0;
	min-width:120px;
	//max-height:122px;
	max-height:70px;
	max-width: 280px;
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
	@include govuk-media-query($from: desktop) {
		max-width: 500px;
		max-height: 96px;
	}
}
.leaflet-control-search .search-tip {
	margin:0;
	// padding:2px 4px;
	padding:1px 4px;
	display:block;
	color:black;
	background:	white;
	text-decoration:none;	
	white-space:nowrap;
}

.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color:#ecebeb;;
}
.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	margin-bottom:5px;
	padding:0 .25em;
	color: lbh-colour("lbh-grey-1");
}




.search {
	@include lbh-rem(margin-bottom, 24);
	@include lbh-rem(padding-top, 12);
	position: relative;

  
  
	.lbh-button {
	  @include govuk-media-query($from: desktop) {
		margin-top: 0;
		position: absolute;
		top: 0;
		right: 0;
	  }
  
	  &--disabled {
		display: none;
	  }
	}
  
	.govuk-details__text {
	  @include govuk-media-query($from: desktop) {
		@include lbh-rem(padding-top, 25);
	  }
	}
  }