.DS_Store
node_modules
.env
src/js/helpers/mapbox.js
src/js/helpers/osdata.js
src/js/helpers/addressesProxy.js
src/js/helpers/geoserverExternalWFS.js
src/js/helpers/geoserverInternalWFS.js
src/js/helpers/geoserverExternalWMS.js
src/js/helpers/geoserverInternalWMS.js
.npmrc
web.config