.terraform/
.vscode/

.github/CODEOWNERS
node_modules/

tasks/gulp/
gulpfile.js
app/

/.next/
/.next-test/
/next-env.d.ts

package-lock.json

Dockerfile
LICENCE
*.base64
*.feature
*.ico
*.jpg
*.png
*.snap
*.tf
.*
!.*.*
!.*/
.env.*
