{% extends "../base-template.html" %}

{% block content %}
  <h1 class="lbh-heading-h1">Planning constraints map</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin lacus ac posuere luctus. Maecenas suscipit leo et eleifend tincidunt. Duis bibendum tincidunt orci, at ornare nunc sodales eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam rhoncus neque quam, vitae accumsan nulla pharetra sit amet. Morbi augue purus, hendrerit id malesuada at, dignissim ac dui. Nam vel odio nunc. Donec ornare eros pretium sollicitudin consectetur.</p>
  <div class="lbh-container">
    <a href="https://map2.hackney.gov.uk/lbh-planning-constraints-checker/" class="govuk-back-link lbh-back-link">Back to the planning constraints checker</a>
  </div>
  {{super()}}
{% endblock %}
