{% extends "template.njk" %}

{% block head %}
    <!-- Add styles -->
    <link rel="stylesheet" href="../dist/lbh-webmap.min.css">
{% endblock %}

{% block content %}
  {% block map %}
    <div class="map__container">
        <div class="map__wrapper">
            <div class="map" id="map"></div>
        </div>         
    </div>

  {% endblock %}
{% endblock %}
{% block bodyEnd %}
<script src="../lbhfrontend/all.js"></script>  
<script src="../dist/lbh-webmap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>
  
  <!-- <script>window.LBHFrontend.initAll()</script> -->
{% endblock %}
