//$lbh-global-styles: true;
@import "node_modules/leaflet/dist/leaflet";
@import "node_modules/leaflet-easybutton/src/easy-button";
@import "node_modules/leaflet-control-window/src/L.Control.Window";
@import "node_modules/leaflet.markercluster/dist/MarkerCluster";
@import "node_modules/leaflet-gesture-handling/dist/leaflet-gesture-handling";
@import "node_modules/lbh-frontend/lbh/all";
@import "./partials/filters";
@import "./partials/map";
@import "./partials/awesome-markers-with-more-colours";
@import "./partials/marker-cluster";
@import "./partials/divicon";
@import "./partials/controls";
@import "./partials/metadata";
@import "./partials/personas";
@import "./partials/popup";
@import "./partials/tooltip";
@import "./partials/search";
@import "./partials/listview";
@import "./partials/tableview";
@import "./partials/address-search";
@import "./partials/download";



:root {
  --cluster-color: #0d0b52;
 }

// Start remove L.Control.Window undesired styles
.modal {
  background-color: unset;
}

.leaflet-control-window {
  transform: none !important;
}

.leaflet-control-window .content {
  margin-top: 0;
}

.leaflet-control-window .titlebar {
  min-height: unset;
  padding: unset;
}

.leaflet-control-layers-toggle {
  background-image: url("../images/layers.png");
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("../images/layers-2x.png");
}

.leaflet-control-window .promptButtons {
  padding: 0px 16px 16px 16px;
}
// End remove L.Control.Window undesired styles

.leaflet-container :focus:not(:focus-visible) {
  outline: 0;
}