@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700&display=swap");
//$lbh-global-styles: true;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@import "leaflet-easybutton/src/easy-button.css";
@import "leaflet-control-window/src/L.Control.Window.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet-gesture-handling/dist/leaflet-gesture-handling.css";
@import "govuk-frontend/govuk/components/table/_table.scss";
// @import "node_modules/lbh-frontend/lbh/all";
@import "core/all";
@import "helpers/all";
@import "objects/all";
@import "overrides/all";
@import "settings/all";
@import "tools/all";
@import "utilities/all";
@import "lbh-button/button";
@import "lbh-accordion/accordion";
@import "lbh-skip-link/skip-link";
@import "lbh-back-link/back-link";
@import "lbh-checkboxes/checkboxes";
@import "lbh-input/input";
@import "lbh-details/details";
@import "lbh-header/header";
@import "lbh-radios/radios";
@import "lbh-panel/panel";
@import "lbh-select/select";
@import "lbh-table/table";
//Partials - component styles
@import "./partials/address-search";
@import "./partials/awesome-markers-with-more-colours";
@import "./partials/controls";
@import "./partials/divicon";
@import "./partials/download";
@import "./partials/filters";
@import "./partials/listview";
@import "./partials/map";
@import "./partials/marker-cluster";
@import "./partials/metadata";
@import "./partials/personas";
@import "./partials/popup";
@import "./partials/search";
@import "./partials/tooltip";
@import "./partials/tableview";


:root {
  --cluster-color: #0d0b52;
 }

// Start remove L.Control.Window undesired styles
.modal {
  background-color: unset;
}

.leaflet-control-window {
  transform: none !important;
}

.leaflet-control-window .content {
  margin-top: 0;
}

.leaflet-control-window .titlebar {
  min-height: unset;
  padding: unset;
}

.leaflet-control-layers-toggle {
  background-image: url("../../images/layers.png");
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("../../images/layers-2x.png");
}

.leaflet-control-window .promptButtons {
  padding: 0px 16px 16px 16px;
}
// End remove L.Control.Window undesired styles

.leaflet-container :focus:not(:focus-visible) {
  outline: 0;
}
