{% extends "../base-template.html" %}
{% block content %}
  <div class="govuk-phase-banner lbh-phase-banner lbh-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag lbh-tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is the new Education Settings Information Tool (ESIT) - data is under review at the moment. <br> If you can't find the information you are looking for or you would like to provide feedback, please use <a target='_blank' href="https://forms.gle/1KC11cUkmbtnA4WG6">this form.</a>
      </span>
    </p>
  </div>
<h1 class="lbh-heading-h1">Education Settings Information Tool (ESIT)</h1>
<p>This Education Settings Information Tool (ESIT) shows the distribution of settings across the London Borough of
  Hackney. The data contained for each setting is publicly available information and is designed to be used to inform
  and support users in understanding the make-up and context of the settings in their respective localities. The ESIT is
  also
  designed to serve as a transparent resource to inform decision-making for schools, the LA and wider
  stakeholders.</p>



{{super()}}
{% endblock %}
